.navber {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.school{
  display: flex;
  text-align: center;
  font-family: "Quicksand", serif;
  gap: 10px;
}
.list-item{
  display: flex;
  gap: 32px;
   
}
#link-item{
  text-decoration: none;

}
.link{
  list-style: none;
}
.link{
  font-weight: 700;
  font-size: 20px;
}
.home{
  color: #FEA301;
}
.about{
  color: #01ACFD;
}
.Facilities{
  color: #05D4DF;
}
.Admission{
  color: #5D58EF;
}
.Contact{
  width: 197px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  background-color: #FEA301;
  color: #fff;
  border: none;
}

.banner{
  width: 1158px;
  height: 575px;
  display: flex;
  border: 2px solid black;
  border: none;
  margin: 0px auto; 
  margin-top: 20px;
}
.imags{
  margin-left: 60px;
}

.main-title{
  font-weight: 700;
  font-size: 3.5rem;
  font-family: "Quicksand", serif;
  margin-left: 10px;
 
}

.paragraph{
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
  margin-top: -24px;
  font-family: "Quicksand", serif;
}
.Empowering{
  color: #FEA301;
}
.vision{
  color: #01ACFD;
}
.Enroll{
  width: 197px;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #ffff; 
  background-color: black;
  margin-left: 10px;
   
}

@media screen and (max-width:576px) {
  .navber{
    flex-direction: column;
      visibility: initial;
  }  
}

@media screen and (max-width:576px) {
  .banner,.imags{
    flex-direction: column;
    flex-direction: column-reverse;
   padding-top: 400px;
  }
 
}
